body{
    background-color: rgb(243, 237, 230);
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
    font-family: arial;
    display: inline-flex;
    margin: 20px;
    margin-left: 100px;
  }

  .title {
    color: grey;
    font-size: 18px;
  }

  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }

  button:hover, a:hover {
    opacity: 0.7;
  }

  .disabled-btn {
    background-color: grey;
    color: white;
    cursor: not-allowed;
  }

  .alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    width: 500px;
    margin-left: 390px;
    text-align: center;
  }

  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

  .closebtn:hover {
    color: black;
  }
